<header class="flex items-center justify-between py-10">
  <div>
    <a href="/" aria-label="Homepage Link">
      <div class="flex items-center justify-between">
        <div class="mr-3">
          <title>Nerd Out</title>
          <%= image_tag("logo.png", size: "100x100") %>
        </div>
        <div class="hidden h-6 text-[#FF0A0A] text-2xl font-berlinSans sm:block">
          NERD OUT
        </div>
      </div>
    </a>
  </div>
  <div class="flex items-center text-base leading-5">
    <div class="hidden sm:block">
      <a href="<%= posts_path %>" class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4">
        Blog
      </a>
      <a href="<%= categories_path %>" class="p-1 font-medium text-[#FF0A0A] dark:text-gray-100 sm:p-4">
        Categories
      </a>
      <a href="<%= about_path %>" class="p-1 font-medium text-gray-900 dark:text-gray-100 sm:p-4">
        About
      </a>
    </div>
    <button
      aria-label="Toggle Dark Mode"
      type="button"
      class="ml-1 mr-1 h-8 w-8 rounded p-1 sm:ml-4"
      data-action="click->dark-mode#toggle"
    >
      <i class="fa-solid <%= @dark_mode ? 'fa-sun-bright' : 'fa-moon' %>" data-dark-mode-target="icon"></i>
    </button>
    <%= render "layouts/mobile_nav" %>
    <%# <ThemeSwitch />
    <MobileNav /> %>
  </div>
</header>
